@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fff;
  font-family: "Baloo 2", sans-serif;
  color: rgba(68, 68, 68, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(197, 108, 72, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(197, 108, 72, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0;

  border-radius: 0px 0px 26px 26px;

  background: rgba(197, 108, 72, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: rgba(2, 9, 3, 1);

  padding: 10px 16px;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 258px;
  height: 48px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 379px;
    height: 72px;
    margin-right: 80px;
  }
  .header {
    width: 100%;

    height: 90px;
    padding: 10px 80px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1200px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1400px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;
    width: auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  padding: 136px 32px 82px;
  background: rgba(197, 108, 72, 1);

  margin: auto;
}
.home-img {
  width: 311px;
  height: 155px;
}
.home-img-two {
  display: none;
}
.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 48px;
  width: 311px;
}
.home-title {
  font-family: Inria Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(250, 250, 250, 1);
}
.home-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(250, 250, 250, 1);
  padding: 24px 0 48px;
}
.home__google-button_link {
  display: inline-block;
  width: 226px;
  height: 65px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    padding: 180px 80px 160px;
    display: flex;
    flex-direction: row-reverse;
    gap: 14px;
  }

  .home-img {
    width: 519px;
    height: 259px;
  }
  .home-img-two {
    display: flex;
    margin-top: 18px;
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 0;
    width: 737px;
  }
  .home-title {
    font-family: Inria Sans;
    font-size: 96px;
    font-weight: 700;
    line-height: 115.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 40px 0 75px;
  }
  .home__google-button_link {
    display: inline-block;
    width: 280px;
    height: 80px;
  }
}
.about {
  padding: 0 0px 60px;
  margin: auto;
  width: 375px;
  height: 888px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/about/Frame\ 3.png);
}
.about-title {
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.37px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(197, 108, 72, 1);
}

.about-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
  padding: 32px 32px 82px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 110px 360px;
    margin: auto;
    width: 1440px;
    height: 556px;
    margin-top: 30px;
    background-image: url("/image/about/Frame\ 4.png");
  }

  .about-title {
    font-family: Inria Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 47.96px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 32px 82px;
  }
}
.advantages {
  width: 375px;
  margin: auto;
  padding: 100px 0px 116px;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 48px;
}
.advantages-item {
  width: 308px;
  height: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 27px;
  background: rgba(197, 108, 72, 1);
}

.advantages-text-bold {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(250, 250, 250, 1);
}
.advantages-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(250, 250, 250, 1);
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    padding: 116px 32px 0;
  }

  .advantages-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 48px;
  }
  .advantages-item {
    width: 308px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 22px;
    background: rgba(197, 108, 72, 1);
  }

  .advantages-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.play {
  width: 375px;
  margin: auto;
  padding: 116px 33px;
}

.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}
.play-item {
  width: 308px;
  height: 296px;
  background: rgba(197, 108, 72, 1);
}
.play-img {
  width: 308px;
  height: 147px;
}
.play-text-bold {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(250, 250, 250, 1);

  padding: 27px 30px 8px;
}
.play-text {
  color: rgba(250, 250, 250, 1);
  padding: 0 30px 27px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    padding: 116px 210px;
  }

  .play-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 48px;
  }

  .play-text-bold {
    padding: 22px 25px 8px;
  }
  .play-text {
    padding: 0 34px 22px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 0;
}

.gallery__item {
  width: 375px;
  height: 210px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__list {
  width: 375px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  width: 40px;
  height: 40px;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
  }

  .gallery__item {
    width: 845px;
    height: 475px;
    overflow: hidden;
    position: relative;
    margin: 0 12px;
  }

  .gallery__list {
    width: 1440px;
  }
}
.features {
  width: 375px;
  height: 989px;
  padding: 116px 32px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/features/Frame\ 1.png);
}
.features-list {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.features-item {
  width: 269px;
  height: 159px;
}

.features-number {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(250, 250, 250, 1);
  width: 48px;
  height: 48px;
  padding: 12px 19px 12px 19px;
  background: rgba(197, 108, 72, 1);

  border-radius: 24px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-text-bold {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 16px 8px;
  color: rgba(197, 108, 72, 1);
}
.features-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0 16px;
  color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 363px;
    padding-top: 76px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/features/Frame\ 2.png);
  }
  .features-list {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  .features-item {
    width: 269px;
    height: 168px;
  }

  .features-number {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(250, 250, 250, 1);
    width: 48px;
    height: 48px;
    padding: 12px 19px 12px 19px;
    background: rgba(197, 108, 72, 1);

    border-radius: 24px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0 16px;
    color: rgba(0, 0, 0, 1);
  }
}
.footer {
  background: rgba(197, 108, 72, 1);

  color: rgba(250, 250, 250, 1);
  padding: 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.footer-container-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: start;

  gap: 17px;
}
.footer-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}

.footer-copyright {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 40px;
}
.footer-img {
  width: 258px;
  height: 48px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 32px 80px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 96px;
  }
  .footer-container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 731px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 0;
    padding-top: 20px;
    gap: 17px;
  }
  .footer-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 0px;
  }
  .footer-img {
    width: 379px;
    height: 72px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 32px 116px;
}
.policy-terms-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(197, 108, 72, 1);
}

.policy-terms-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(197, 108, 72, 1);
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
  color: rgba(0, 0, 0, 1);
}
.policy-terms-text-one {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: rgba(0, 117, 186, 1);
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
